@font-face {
  font-family: Urbanist-Light;
  src: url(../../fonts/Urbanist-Medium.ttf);
}

.top-bar {
  display: flex;
  justify-content: right;
  gap: 1rem;
  margin-top: -1.5rem;
  margin-right: 1.5rem;
}

h6 {
  display: block;
  margin-left: 1.5rem;
  font-size: 17px;
  font-weight: 800;
  font-family: Urbanist-Medium;
  color: black;
}
