.searchBar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.input-light,
.input-dark {
  border: 0;
  border-radius: 1.5rem;
  height: 5rem;
  width: 90%;
  background: url(../../images//Searchlogo.svg) no-repeat left;
  background-position: 15px center;
  text-indent: 5rem;
  background-color: rgba(128, 128, 128, 0.136);
  font-family: "UrbanistSemiBold";
  font-size: 1.4rem;
  outline: none;
  margin: 0 0 1rem 0;
}

.input-light {
  color: var(--color-text);
}

.input-dark {
  color: var(--color-grey-upload);
}

.input-dark:focus,
.input-light:focus {
  border: 2px solid var(--color-pink);
  background-color: #e9809018;
}
