.home-post-image {
  max-width: 100%;
  border-radius: 10%;
  aspect-ratio: 1;
  object-fit: cover;
}

.likes-wrapper,
.comments-wrapper {
  display: flex;
  gap: 0.8rem;
  align-items: center;
}
.comments-icon,
.heart-icon {
  width: 2.4rem;
}

.post-detail-likes-and-comments {
  display: flex;
  gap: 2.4rem;
  padding: 1.2rem 0;
  border-bottom: 0.1rem solid var(--color-stroke);

  margin: 0 0 1.2rem 0;
}
