.upload-page {
  animation: fade-in 1s;
}
.new-post {
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 2rem 0;
  padding: 0rem 0rem 0rem 0rem;
}
.cancelBtn {
  padding: 0 2rem;
}

.upload-window {
  margin: 0 auto;
  aspect-ratio: 1;
  width: 100%;
  background-color: var(--color-grey-upload);
  border-radius: 32px;
  display: flex;
  margin-bottom: 1rem;
  margin-top: 9rem;
  /* margin-top: 12rem; --> without mobile simulator */
}

.custom-upload-btn {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
#custom-file-upload {
  display: none;
}

#file-input-label {
  width: 30rem;
  height: 5.5rem;
  border: 1px solid var(--color-pink-bright);
  border-radius: 30px;
  font-size: 1.8rem;
  font-family: "UrbanistSemiBold";
  letter-spacing: 0.05rem;
  color: white;
  text-align: center;
  padding-top: 1.7rem;
  /* padding-left: 1.5rem; */
  padding-left: 1rem;
  cursor: pointer;
  background: url(../../images/WhiteCamera.svg) no-repeat left;
  background-position: 9rem;
  background-color: var(--color-pink-bright);
}

#file-input-label:active {
  background-color: #ff4d6871;
  transition: all 0.3s;
}

/* input[type="file"]::file-selector-button {
  padding: 1.2rem 0.4em;
  border-radius: 20rem;
  width: 160px;
  background-color: var(--color-pink-bright);
  color: white;
  cursor: pointer;
  border: none;
} */

/* gallery */

.gallery-list {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.img-gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  margin: 2.5rem auto;
}

.gallery-top {
  display: flex;
  justify-content: space-between;
  padding: 0 0.5rem;
  align-items: center;
  margin-top: 2rem;
}

.gallery-arrow {
  display: flex;
  gap: 1rem;
  cursor: pointer;
}

.gallery-arrow img {
  object-fit: contain;
}

.img-gallery img {
  width: 32.32%;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 10% / 10%;
}

.cam-category {
  display: flex;
  gap: 1.5rem;
}

.gallery-top img {
  cursor: pointer;
}

/* pop-up window */

.popup {
  padding: 1rem;
  animation: fade-in 1s;
}

.backBtn-popup {
  display: flex;
  justify-content: center;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0rem 2rem;
}

.hidden-upload {
  display: none;
}

.caption-upload-img {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  margin-top: 12rem;
}
.profile-upload-img {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 1rem;
}

.caption-input {
  width: 23rem;
  background-color: rgba(128, 128, 128, 0.074);
  border-radius: 1.5rem;
  border: 0;
  padding: 2rem 1rem;
  outline: none;
  font-family: "UrbanistSemiBold";
  font-size: 1.4rem;
  cursor: pointer;
  height: auto;
  min-height: 6rem;
  overflow: hidden;
  resize: none;
  height: 1rem;
}

.caption-input:focus {
  border: 2px solid var(--color-pink);
  background-color: #e9809018;
}
.new-post-img {
  width: 6rem;
  height: 6rem;
  border-radius: 1rem;
  object-fit: cover;
  margin-left: 0.5rem;
}

.stroke-upload {
  height: 0.1rem;
  width: 90%;
  display: flex;
  align-self: center;
  justify-self: center;
  margin: 2rem auto;
  background-color: rgba(128, 128, 128, 0.135);
}

.location-upload {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

.location-img {
  margin: 1rem 1.5rem 1rem 2.5rem;
}

.post-to {
  margin-left: 2rem;
}

.facebook-post,
.twitter-post,
.tumblr-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0 3rem 2rem;
}

.toggle-img {
  transition: transform 0.5s ease-in-out, opacity 0.3s ease-in-out;
  cursor: pointer;
  margin-right: 2rem;
}

.toggle-img.active {
  transform: scale(1.02);
}

.advanced-settings {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
  padding: 2rem;
  cursor: pointer;
}

.post-upload-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-btn-upload {
  width: 60%;
  height: 4.5rem;
  margin-top: 2rem;
  background-color: var(--color-pink-bright);
  color: white;
  border: none;
  border-radius: 10rem;
  cursor: pointer;
}
