.more-menu-menu {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: white;
  width: 100%;
  height: 47.5rem;
  border-radius: 5% 5% 0 0;
  z-index: 5;
  animation: fade-in 0.5s;
}

.stroke {
  display: flex;
  margin: 1.5rem auto;
  width: 12%;
  height: 3px;
}

.set,
.archive,
.activity,
.code-scan,
.mark,
.closing,
.heart,
.info {
  width: 38rem;
  height: 2.8rem;
  margin-left: 2rem;
  margin-bottom: 2.25rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.more-menu-menu img {
  width: 2.8rem;
  height: 2.8rem;
  margin-right: 2rem;
  object-fit: contain;
}
