@font-face {
  font-family: UrbanistMedium;
  src: url(./fonts/Urbanist-Medium.ttf);
}

.headline {
  margin-top: 2rem;
  margin-left: 1rem;
  margin-bottom: 8rem;
}

.logo {
  display: block;
  margin: auto;
  margin-bottom: 7rem;
}

form {
  margin-left: 1rem;
  line-height: 1rem;
  margin-right: 1rem;
}

#email {
  margin-bottom: 1rem;
  padding: 1.3rem;
  font-size: 10px;
  border-radius: 10px;
  background: url(../../images/Email2.png) no-repeat left;
  background-position: 1vh 2vw;
  background-color: #fafafa;
  border: none;
  width: 100%;

  text-indent: 2rem;
}

#password {
  padding: 1.3rem;
  font-size: 10px;
  border-radius: 10px;
  background: url(../../images/Lock.png) no-repeat left;
  background-position: 1vh 1.6vw;
  background-color: #fafafa;
  border: none;
  width: 100%;
  margin-bottom: 2rem;
  text-indent: 2rem;
}

.hide {
  margin-left: 30rem;
  margin-top: -5rem;
}

.sign-in-user {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 1rem;
  margin-top: 10rem;
}

.sign-in {
  font-size: 13px;
  color: #ff4d67;
  text-decoration: none;
  font-family: UrbanistMedium;
  margin-top: 2px;
}

p {
  color: #bdbdbd;
}
