.comments-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.4rem 0rem 1.6rem 0rem;
  animation: fade-in 1s;
  
}

.comments-header-left {
  padding: 0 2rem;
}

.comments-header .share-img{
  position: absolute;
  left: 375px;
  width: 3.5rem;
}
.comments-header .comments-header-left {
  display: flex;
  gap: 1.6rem;
  /* padding-left: 2rem; */
}

.post-detail-section {
  width: 100%;
  margin-bottom: 2rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  animation: fade-in 1s;
  margin-top: 12rem;
}

.post-detail-section .post-detail-article {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.post-detail-section .post-detail-article .hashtags {
  color: var(--color-blue-hashtag);
}

.post-detail-section .post-detail-article .caption,
.post-detail-section .post-detail-article .hashtags,
.post-detail-section .post-detail-article .profession {
  margin-bottom: 1rem;
}

.post-detail-section .post-detail-article .post-detail-likes-and-comments {
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
