nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3rem 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    /* top: 0; */
}
.navSearch, .navHome, .navUpload, .navProfile {
    text-align: center;
    justify-content: center;
    object-fit: cover;
}