.sign-up-page {
  animation: fade-in 1s;
}
.headline {
  width: 80%;
  margin: 6rem 0 12rem 1rem;
}

.logo {
  display: block;
  margin: auto;
  margin-bottom: 10rem;
}

form {
  margin-left: 1rem;
  line-height: 1rem;
  margin-right: 1rem;
}

#email {
  margin-bottom: 1rem;
  padding: 1.8rem;
  font-size: 16px;
  border-radius: 10px;
  background: url(../../images/Email2.svg) no-repeat left;
  background-position: 1.5rem 1.6rem;
  background-color: #fafafa;
  border: none;
  width: 100%;
  text-indent: 3rem;
  outline: none;
}

#password {
  padding: 1.8rem;
  font-size: 16px;
  border-radius: 10px;
  background: url(../../images/Lock.svg) no-repeat left;
  background-position: 1.5rem 1.6rem;
  background-color: #fafafa;
  border: none;
  width: 100%;
  margin: 0.5rem 0 2rem 0;
  text-indent: 3rem;
  outline: none;
}

#password:focus,
#email:focus {
  border: 2px solid var(--color-pink);
}

.hide {
  margin-left: 33rem;
  margin-top: -6rem;
}
.hide img {
  width: 2.5rem;
  /* height: 4rem; */
}

.sign-in-user {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 1rem;
  margin-top: 10rem;
}

.sign-in {
  font-size: 1.6rem;
  color: #ff4d67;
  text-decoration: none;
  font-family: "UrbanistMedium";
  margin-top: 2px;
}

.login-signup-question {
  color: #bdbdbd;
  font-size: 1.6rem;
}

.sign-btn {
  margin-top: 3rem;
  padding: 1.5rem;
  border-radius: 30px;
  width: 100%;
  background-color: #e98090;
  border: none;
  color: white;
  cursor: pointer;
  font-family: "UrbanistRegular";
  font-size: 1.6rem;
}
.sign-in-user p {
  color: #bdbdbd;
  font-size: 1.6rem;
}

.sign-up-info-text {
  width: 80%;
  text-align: center;
  color: var(--color-grey-profession);
  margin: 1rem auto;
}
