.search-list {
  width: 100%;
  margin: 0 auto;
  animation: fade-in 1s;
  padding-bottom: 8rem;
}

.search-list .search-list-top {
  width: 100%;
  height: 4rem;
  margin-bottom: 1rem;
  border-bottom: 3px solid var(--color-pink-bright);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 9rem;
  /* margin-top: 13rem; --> without mobile simulator */
}
